build/
.ipynb_checkpoints/
.gitignore~
 __pycache__/
*.pyc
.DS_Store
._.DS_Store
._*
.vscode/
*.egg-info/
*__pycache__/
*profile.html
tests/output/**.hd5
tests/output/**.jpg
tests/unit_tests/.test_config.json