build/
.ipynb_checkpoints/
.gitignore~
 __pycache__/
*.pyc
.DS_Store
._.DS_Store
._*
.vscode/
*.egg-info/
*__pycache__/
*profile.html
tests/output/sami/*.hd5
tests/output/hector/*.hd5
tests/output/cutouts/*.jpg
tests/unit_tests/.test_config.json
tests/local_test_data/
tests/integration_tests/local_test_config.json